.App-container {
  display: flex;
  height: 100vh;
}

.App-content {
  flex-grow: 2;
  background-color: #282c34;
  color: white;
}

.App-menu {
  margin: 0;
  padding: 1vw;
  min-width: 16vw;
}

.active {
  color: #f91e70;
}

.root-element {
  height: 100vh;
}